audio::-webkit-media-controls-timeline,
video::-webkit-media-controls-timeline {
  display: none;
}
audio::-webkit-media-controls,
video::-webkit-media-controls {
  display: none;
}

.container_dashboard {
  padding: 20px;
}

.container_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnRoom {
  padding: 10px;
  height: 100px !important;
}

.my-video-container {
  position: absolute;
  bottom: 60px;
  right: 40px;
  width: 25%;
}

.local-video {
  border-radius: 5px;
  margin: 10px;
}

.remote-video {
  margin: 10px;
  border-radius: 5px;
}

.container_flex_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#create-room , #join-room {
  margin: 5px;
}